/* TEMPLATE STYLES */

html,
body,
.view {
    height: 100%;
}


/* Navigation*/

#my-navbar.navbar {
    background-color: transparent;
    padding: 50px 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    box-shadow:none;
}

.navbar-right{
    float: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#my-navbar.navbar.top-nav-collapse {
    background-color: rgba(43, 62, 81, 0.77);
    padding:15px 0; 
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

footer.page-footer {
    /* background-color: #1C2331; */
    padding-top: 50px;
    margin-top: 75px;
}

.footer-title{
    padding: 50px 0;
    color: #f5f5f5;
}


/*Intro*/

.view {
    /* background: url("../img/paralax-bg.jpg")no-repeat center center fixed; */
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.fa-check {
    color: green;
}

/*Colors*/

.btn-fb{
    background-color: #3B5998;
}

.btn-tw{
    background-color: #6cb7f0;
}

.btn-ptc {
  background-color: #45526E !important;
}

.btn-ptc:hover {
  background-color: #59698d !important;
}

.btn-ptc:focus {
  background-color: #59698d !important;
}

.btn-etc{
    background-color:#1c2331;
}

footer.page-footer {
    background-color: #1C2331;
}

.carousel-multi-item .carousel-indicators li {
    background-color: #1C2331;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #1C2331;
}


.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #a6c;
    border-radius: 50%;
    transition: .3s;
    vertical-align: middle;
    margin: 10px;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 37px;
}

.title-dark{
    margin: 0px 0 35px 0;
    /* border-top: 1px solid rgba(0,0,0,.1); */
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0;
}

.title-dark h1{
    color:#000000;
}

small.text-muted{
    font-weight: 300;
}

.title-light{
    margin: 75px 0 50px 0;
    padding: 10px 0;
}

.title-light h1{
    color:#f5f5f5;
}



.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}


.img-responsive {
    display: block;
    height: auto;
    width: 100%;
}
/* customize */
.jumbotron{
    text-align: center;
}    

.jumbotron-item i{
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    color: #FFF;
    background-color: #45526e;
}

.jumbotron h4{
    margin-top: 10px;
}

.jumbotron .btn-action {
    background-color: #4B515D;
    height: 140px;
    width: 140px;
    line-height: 0;
}

.jumbotron .btn-action .fa{
        font-size: 56px;
    margin-top: 5px;
}

.text-center{
    text-align: center;
}

/* /////////////////////////section id //////////////////// */

#about, #recent-journey, #service, #packet{
    padding-top: 75px;
}

.about-us{
    background: white;
    padding: 92px 0 80px;
}

.recent-journey{
    background: #f1f0f0;
    padding: 92px 0 80px;
}
.testimonial{
    background: #f1f0f0;
    padding: 92px 0 80px;
}

/* 
/////////////////////////////////// ABOUT //////////////////////////////// 
 */


.about-item{
    text-align: center;
}

.about-item i {
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    color: #FFF;
    background-color: #45526e;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.about-item h4{
    margin-top: 10px;
    color:#000000;
    font-weight: 400;
}

/* 
//////////////////////// Recent Journey ////////////////////////////////
 */
.block-heading{
    height: auto;
}

.block-heading a{
    margin-top: 15px;
}
.journey-card{
    margin: 0;
}

.journey-card .card-block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: #45526e;
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
}

.journey-card:hover .card-block{
    opacity: 1;
}



.journey-card .card-inner .title a{
    color: #fff;
}

.journey-card .card-inner .date{
    color: #fff;
    font-weight: 200;
}

.journey-card .card-inner .btn{
    margin: 0;
}

.card-container{
    margin:0;
    padding: 10px;
}

.card-container .card{
    margin: 0;
}

.recent-work {
    width: 100%;
    padding-bottom: 27%;
    background: #C3C9CC;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 27%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* margin-bottom: 30px; */
}

.recent-work:hover {
    background-size: 200%;
    background-position: center;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.recent-work:before {
    background: rgba(2, 56, 58, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.recent-work:hover:before, .recent-work:hover span {
    opacity: 1;
}
.btn.btn-o-white {
    border: 1px solid white;
    color: white;
    background: transparent;
}
.recent-work span {
    margin-top: -18px;
    opacity: 0;
    position: relative;
    z-index: 1;
}


/* 
////////////////////////////////// Service ///////////////////////////// */

#service {
    margin-top: 75px;
    background-size: cover;
    height: auto;
    padding:70px 0 30px 0;
    /* text-align: center; */
    background: #000 url('../img/bg_services.png') fixed;
}

#service .title{
    padding: 10px 0;
    margin-bottom: 35px;
    color: #f5f5f5;
    /* border-top: 1px solid #818a91; */
    border-bottom: 1px solid #818a91;
}
#service .card{
    height: 160px;
    margin: 0px;
}

.card-block .service-icon{
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}
.card-block .service-body{
    padding-top: 10px;
    display: table-cell;
    vertical-align: top;
}


/* 
//////////////////// Packet-Card /////////
 */

 .packet-card{
    text-align: center;
 }

 .packet h1{
    color: #FFF;
    padding:15px 5px; 
 }



 /* RESPONSIVE */



@media only screen and (max-width: 768px) {
    #my-navbar.navbar {
        background-color: transparent;
    }
    #my-navbar.top-nav-collapse {
        background-color: #1C2331;
        padding:15px 0; 
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    }
}

@media only screen and (max-width: 480px) {
    #my-navbar.navbar {
        background-color: #1C2331;
        padding: 5px 0;
    }
   /*  #about{
       padding-top: 15px;
       padding-left: 10px;
       padding-right: 10px;
   } */
    #carousel-example-2{
        margin-top:20px;
    }
}



/* All JOURNEY */
.journey-bar{
    background-color: #4285F4;
    /* #1c2331; */
}

#jumbotron{
    margin-top: 75px;
}

/* Modal */

body.modal-open{
    overflow: hidden;
}

.my-modal-dialog .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    /* text-align: center; */
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.my-modal-dialog .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.my-modal-dialog .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.my-modal-dialog .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* .modal-body.post-wrapper{
    padding:0;
} */

.pagination .page-item a{
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* sidebar */
.horizontal-listing .row:hover{
        transition: box-shadow .45s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.horizontal-listing a {
    color: #01579b;
}
.horizontal-listing h2{
    font-size:125%;
    margin-bottom: 0;
}
.horizontal-listing {
    padding: 0 1rem;
}
.horizontal-listing .row {
    padding-top: 1rem;
    border-bottom: 1px solid #e0e0e0;
}
.card-data{
    height: auto;
    padding: 5px 10px 10px 0;
}
.horizontal-listing .row ul {
    margin-bottom: 0;
    font-size: .9rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.testimonial-card .avatar {
    border-radius: 50%;
    width: 120px;
    margin: 0px auto 0px;
}